/*styles*/

body {
  font-family: sans-serif;
}

/*.demo-content {
    width: 100%;
    background: #dadada;
    font-size: 12px;
}

.demo-live {
    padding: 20px;
    background: #fff;
    min-height: 260px;
}*/
